#p_wrap {
  white-space: pre-line;
}

.newblog {
  padding-top: 50px;
}

.newblogImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.newblogForm {
  position: relative;
}

.newblogFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.newblogIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.newblogInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  /* width: 70vw; */
  width: 580px;
}

.newblogInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.newblogInput:focus {
  outline-style: none;
}

.newblogText {
  /* width: 70vw; */
  width: calc(70vw - 24px);
  min-height: 200px; /* Set minimum height */
  max-height: 400px;
  font-family: inherit;
  font-size: 20px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 8px; /* Add border radius */
  margin-bottom: 20px; /* Add spacing between form groups */
}

.newblogSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: rgb(20, 92, 179);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {

  .newblogInput {
    width: 550px;

  }

}

@media screen and (max-width: 768px) {
  .newblogImg {
    margin-left: 50px;
  }

  .newblogFormGroup {
    margin-left: 50px;
  }

  .newblogInput {
    font-size: 20px;
    width: 490px;

  }

  .newblogSubmit {
    top: 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .newblogImg {
    margin-left: 50px;
  }

  .newblogFormGroup {
    margin-left: 50px;
  }

  .newblogInput {
    font-size: 15px;
    width: 180px;


  }

  .newblogSubmit {
    top: 10px;
    font-size: 15px;
  }
}
