.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDJ8fGJsb2clMjBtaW5pbWFsfGVufDB8fDB8fHww");
  background-size: cover;
  }
  
  .loginTitle {
    font-size: 50px;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;

  }
  
  .loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(252, 173, 173);
  }

  .loginRegisterButton {
    height: auto;
    font-size: large;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:rgb(20, 92, 179);
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }


  @media screen and (max-width: 768px) {

    .loginRegisterButton {
      font-size: 15px;
    
      top: 80px;

    }
  }
  
  @media screen and (max-width: 480px) {
   

    .loginRegisterButton {
      font-size: 15px;
    
      top: 80px;

    }
  }