.nav {
  width: 100vw;
  /* margin:6px; */
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
}

.navLeft,
.navRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}

.navCenter {
  flex: 6;
}

.navIcon {
  font-size: 20px;
  margin-right: 5px;
  color: #444;
  cursor: pointer;
}

.navList {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navListItem {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.navListItem:hover {
  color: gray;
}

.navImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.navSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-right:15px ;
}



/* Media Queries for Responsive Design */


@media screen and (max-width: 1024px) {

  .navListItem {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .navImg {
    width: 34px;
    height: 34px;
  }
  
  .navSearchIcon {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {

  
  .navListItem {
    font-size: 10px;
    margin-right: 10px;

  }
  
  .navImg {
    width: 30px;
    height: 30px;
  }
  
  .navSearchIcon {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    width: 20vw;
    margin: 5px;
  }
  .navLeft,
.navRight {
  margin:0px 2px
}
    
  .navListItem {
    font-size: 10px;
    margin-right: 10px;
  }
  
  .navImg {
    width: 30px;
    height: 30px;
  }
  
  .navSearchIcon {
    font-size: 10px;
    
  }

  .navIcon {
    font-size: 13px;


  }
}

